@model n0454501_Cumulatice_Part3.Models.Teacher
@{
    ViewBag.Title = "DeleteConfirm";
}

<div class="delete-container">



    <h2>Are you sure you want to delete Teacher @Model.TeacherFname @Model.TeacherLname?</h2>
    <p>This action cannot be undone.</p>

    <div delete-btn-div>
        <nav>
            <a class="backlink" href="/Teacher/Show/@Model.TeacherId">Cancel</a>

        </nav>
        <form method="POST" action="/Teacher/Delete/@Model.TeacherId">
            <button class="btn btn-danger">Confirm Delete</button>
        </form>
    </div>

</div>